<mat-grid-list cols="1" rowHeight="250px">
    <mat-grid-tile>
        <img src="https://assets.change.org/photos/4/mi/yj/sOmiYjeMxZdXeje-800x450-noPad.jpg?1510787033">
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="80px">
    <mat-grid-tile>
        <a routerLink="/agregar">
            <button mat-flat-button color="primary">
                AGREGAR AFILIADO
            </button>
        </a>
        <a routerLink="/lista">
            <button mat-flat-button color="primary">
                LISTA AFILIADOS
            </button>
        </a>
    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
</mat-grid-list>
