<mat-grid-list class="align-column" cols="1" rowHeight="300px">
    <mat-grid-tile>
        <img src="https://pbs.twimg.com/profile_images/1009444251330056193/icELSwCh_400x400.jpg">
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="80px">
    <mat-grid-tile>
        <h1 class="text-primary">
            Partido Libertario Corrientes
        </h1>
    </mat-grid-tile>
    <mat-grid-tile>
        <a routerLink="/iniciar-sesion"
        *ngIf="!isUserLoggedIn()">
            <button mat-flat-button color="primary">
                INICIAR SESION
            </button>
        </a>
        <a *ngIf="isUserLoggedIn()">
            <button mat-flat-button color="warn">
                CERRAR SESION
            </button>
        </a>
        <a *ngIf="isUserLoggedIn()" routerLink="/agregar">
            <button mat-flat-button color="primary">
                AGREGAR AFILIADO
            </button>
        </a>
        <a routerLink="/lista">
            <button mat-flat-button color="primary">
                LISTA DE AFILIADOS
            </button>
        </a>
    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
</mat-grid-list>
