<form [formGroup]="loginForm" (ngSubmit)="checkLogin()">
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile colspan="2">
        <h2 mat-dialog-title>Iniciar sesión</h2>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label for="username">Usuario</mat-label>
            <input matInput appearance="fill" type="text" name="username" 
            autocomplete="username" formControlName="username" required>
            <mat-error *ngIf="loginForm.invalid">
              {{getErrorMessages()}}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="fill">
            <mat-label for="password">Contraseña</mat-label>
            <input matInput appearance="fill" type="password" name="password" 
            autocomplete="current-password" formControlName="password" required>
            <mat-error *ngIf="loginForm.invalid">
              {{getErrorMessages()}}
            </mat-error>
          </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
          <button class="button" type="submit" mat-raised-button color="primary"
            matTooltip="Iniciar sesion">
            <mat-icon>check</mat-icon>
          </button>
          <a routerLink="">
          <button class="button" type="button" mat-raised-button color="accent"
            matTooltip="Salir">
            <mat-icon>cancel</mat-icon>
          </button>
          </a>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
    
      