<div class="align-column">   
    <h1 class="primary-text">
        Detalles del afiliado
        <button type="button" routerLink="/lista" 
        mat-flat-button color="accent">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </h1>
    <p mat-line>Nombre: {{afiliado.nombre}}</p>
    <p mat-line>Apellido: {{afiliado.apellido}}</p>
    <p mat-line>DNI: {{afiliado.dni}}</p>
    <p mat-line>Barrio: {{afiliado.circuito}}</p>
    <p mat-line>Observaciones: {{afiliado.observaciones}}</p>
</div>