<form ngSubmit="saveChanges()">
    <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="afiliado.nombre">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput [(ngModel)]="afiliado.apellido">
      </mat-form-field>
    </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>DNI</mat-label>
          <input matInput [(ngModel)]="afiliado.dni">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Barrio</mat-label>
            <mat-select *ngFor="let barrios" [(value)]="afiliado.circuito">
              <mat-option [value]="afiliado.circuito">
                {{barrios}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Mail</mat-label>
            <input matInput [(ngModel)]="afiliado.mail">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Telefono</mat-label>
            <input matInput [(ngModel)]="afiliado.telefono">
          </mat-form-field>
        </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="1" rowHeight="100px">
          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Observaciones</mat-label>
              <input matInput [(ngModel)]="afiliado.observaciones">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="50px">
      <mat-grid-tile>
        <button type="submit" mat-flat-button color="primary">GUARDAR CAMBIOS</button>
        <button type="button" routerLink="/lista" mat-flat-button color="accent">VOLVER</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>

  