html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

mat-form-field {
    margin-left: 2px;
    margin-right: 2px;
}

table {
    width: 100%;
}

.mat-column-actions {
    width: 40px;
    padding: 0 !important;
}

.mat-column-dni {
    padding: 0 !important;
}

.header {
    color: skyblue;
    margin-top: 3px;
    margin-bottom: 3px;
}

.text-accent {
    color: blueviolet;
}

.align-row {
    flex-direction: column;
}

.loadingDialogBackground {
    background-color: white;
}

.loadingDialogPanel >  mat-dialog-container {
    box-shadow: none;
    color: blueviolet;
    text-align: center;
}

.button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

#login-form {
    margin: auto;
}

@media (max-width: 500px) {
    .no-mobile {
        display: none;
    }

    .button {
        width: 35px;
        height: 35px;
    }
}


