html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-button {
    margin-left: 2px;
    margin-right: 2px;
}

mat-form-field {
    margin-left: 2px;
    margin-right: 2px;
}

.text-primary {
    color: skyblue;
}

.align-row {
    flex-direction: column;
}
